{% extends 'default_frame.twig' %}

{% block javascript %}
    <script>
        $(function() {
            var $permissions = $('#permissions');
            var scopes = {{ scopeAsJson|raw }};
            for (var i = 0; i < scopes.length; i++) {
                switch(scopes[i]) {
                    case 'read':
                        $permissions.append('<li>データの読込み</li>');
                        break;
                    case 'write':
                        $permissions.append('<li>データの書込み</li>');
                        break;
                    case 'openid':
                        $permissions.append('<li>OpenID 認証</li>');
                        break;
                    case 'offline_access':
                        $permissions.append('<li>オフラインアクセス</li>');
                        break;
                    case 'profile':
                        $permissions.append('<li>プロフィール情報</li>');
                        break;
                    case 'email':
                        $permissions.append('<li>メールアドレス</li>');
                        break;
                    case 'phone':
                        $permissions.append('<li>電話番号</li>');
                        break;
                    case 'address':
                        $permissions.append('<li>住所</li>');
                        break;
                    default:
                }
            }
        });
    </script>
{% endblock %}
{% block main %}
    <p>このアプリ連携を許可しますか？</p>
    <p>このアプリは以下のアクセス権を要求しています:</p>
    <ol id="permissions">
    </ol>

    <form id="authorization_form" method="post" action="{{ url('oauth2_server_mypage_authorize') }}{% if nonce|length %}?nonce={{ nonce }}{% endif %}">
        {{ form_widget(form._token) }}
        {{ form_widget(form.client_id) }}
        {{ form_widget(form.redirect_uri) }}
        {{ form_widget(form.response_type) }}
        {{ form_widget(form.state) }}
        {{ form_widget(form.scope) }}
        {% if nonce|length %}
            {{ form_widget(form.nonce) }}
        {% endif %}
        {{ form_widget(form.authorized) }}
        <input type="button" onclick="document.forms.authorization_form.authorized.value = 1; document.forms.authorization_form.submit();" value="許可する" />
        <input type="button" onclick="document.forms.authorization_form.authorized.value = 0; document.forms.authorization_form.submit();" value="拒否する" />
    </form>

{% endblock %}
