{% extends 'default_frame.twig' %}

{% block title %}APIクライアント管理{% endblock %}
{% block sub_title %}アプリケーション登録・編集{% endblock %}

{% form_theme form 'Form/bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheet %}
    <style>
        #admin_api_client_public_key {
            font-family: monospace;
        }
    </style>
{% endblock stylesheet %}

{% block main %}
    <div class="row" id="aside_wrap">
        <div id="detail_wrap" class="col-md-9">
            <div id="detail_box__body" class="box">
                <div id="detail_box__body_header" class="box-header">
                    <h3 class="box-title">アプリケーション登録・編集</h3>
                </div><!-- /.box-header -->
                <form role="form" class="form-horizontal" name="form1" id="form1" method="post" action="" enctype="multipart/form-data">
                    <div id="detail_box__body_inner" class="box-body">

                        {{ form_row(form._token) }}
                        {{ form_row(form.app_name) }}
                        {{ form_row(form.redirect_uri) }}
                        {{ form_row(form.client_identifier) }}
                        {{ form_row(form.client_secret) }}
                        {{ form_row(form.Scopes) }}
                        {{ form_row(form.public_key) }}
                        {{ form_row(form.encryption_algorithm) }}
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="admin_api_endpoint_authorization">authorization エンドポイント</label>
                            <div class="col-sm-10">
                                <p>{{ url('oauth2_server_admin_authorize') }}</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="admin_api_endpoint_token">token エンドポイント</label>
                            <div class="col-sm-10">
                                <p>{{ url('oauth2_server_token') }}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="admin_api_endpoint_tokeninfo">tokeninfo エンドポイント</label>
                            <div class="col-sm-10">
                                <p>{{ url('oauth2_server_tokeninfo') }}?id_token=&lt;your id_token&gt;</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="admin_api_client_apidoc">APIドキュメント</label>
                            <div class="col-sm-10">
                                <a href="{{ url('swagger_ui') }}?client_id={{ Client.client_identifier }}" target="_blank">APIドキュメントを開く</a>
                                <p>APIドキュメントで OAuth2認証を使用する場合は redirect_uri に {{ url('swagger_o2c') }} を指定してください。</p>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </form>
            </div><!-- /.box -->

            <div id="detail_box__footer" class="row">
                <div id="detail_box__back_button" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center btn_area">
                    <p><a href="{{ url('admin_api_lists', {'member_id' : User.id}) }}">戻る</a></p>
                </div>
            </div>

        </div><!-- /.col -->
        
        <div id="common_box" class="col-md-3">
            <div class="col_inner" id="aside_column">
                <div id="common_button_box" class="box no-header">
                    <div id="common_button_box__body" class="box-body">
                        <div id="common_button_box__button_area" class="row text-center">
                            <div id="common_button_box__insert_button" class="col-sm-6 col-sm-offset-3 col-md-12 col-md-offset-0">
                                <button class="btn btn-primary btn-block btn-lg" onclick="document.form1.submit();">登録</button>
                            </div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div><!-- /.col --> 

        
    </div>

{% endblock %}
